* {
    box-sizing: border-box;
}
img{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}
p{
    font-size: 16pt;
    color: white;
    border-color: gold;
    border-width: 0 0 0 10px;
    padding-left: 10px;
    border-style: solid;
    border-radius: 10px;
}
nav{
    float: right;
    background-color: gold;
    border: 2px dashed orange;
    border-radius: 10px;
    padding: 10px;
    font-size: 16pt;
    margin-left: 10px;
    box-shadow: 0px 00px 50px gold;
}
body{
    background-image: url(http://www.dundjinni.com/forums/uploads/Ravenbow/49E_BrickRound70_CG_bg-a.png);
    margin: 20px 20px 0 20px;
}
header{
    color: orange;
    font-size: 40pt;
    font-family: sans-serif;
}
