*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
#facebook {
    width: 100px;
    height: 100px;
}
header {
    text-align: center;
    font-size: 48pt;
    color: rgb(141, 69, 69);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-family: sans-serif;
}
li>a {
    color: black;
}
li:hover {
    background-color: rgb(247, 139, 131);
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    text-align: center;
}
#sign {
    width: 75%;
    height: auto;
    padding: 5px;
}
#logo {
    width: 55px;
    height: auto;
}
main {
    background-color: rgb(247, 139, 131);
    text-align: center;
}
footer {
    text-align: center;
}
#name>a {
    color: rgb(141, 69, 69);
}
@media (max-width: 600px) {

}