* {
    box-sizing: border-box;
}
#selected {
    background-color: rgb(247, 139, 131);
}
main {
    padding: 10px 100px 10px 100px;
}
iframe {
    padding-top: 20px;
}
@media (max-width: 750px) {
    iframe {
        width: 100%;
    }
    main {
        padding: 10px 50px 10px 50px;
    }
}