* {
    box-sizing: border-box;
}
#selected {
    background-color: rgb(247, 139, 131);
}
main {
    padding: 10px 100px 10px 100px;
}
#tag {
    text-align:center;
    font-size: 14pt;
}
main>p {
    font-size: 16pt;
}
@media (max-width: 750px) {
    main {
        padding: 10px 50px 10px 50px;
    }
    #tag {
        text-align: right;
    }
}